<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/png" sizes="96x96" href="~/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon-16x16.png">
@{
#if DEBUG 
}
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
@{
#else 
}   
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
@{
#endif 
}
    @await RenderSectionAsync("Css", required: false)
</head>
<body class="min-h-full h-full overflow-hidden">
@RenderBody()
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>