html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  height: 100%;
  min-height: 100%;
}

body {
  min-height: 100%;
  height: 100%;
}

a, a:visited, a:focus {text-decoration: none !important; }
a:hover {text-decoration: underline !important; }

pre {
  margin-bottom: 0;
  /* Header size + header vertical margin */
  max-height: calc(100% - 4rem);
  height: 100%;
  overflow: auto auto;
  tab-size: 2;
}
pre code {
  min-height: 100%;
}

pre code.hljs
{
  overflow-x: visible !important;
}

img.chevron
{
  width: 0.7rem;
  height: 1rem;
}

.header {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
  height: 3.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  padding-top: 0.5rem;
}