html {
  position: relative;
  height: 100%;
  min-height: 100%;
  font-size: 14px;
  overflow: hidden;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
body {
  min-height: 100%;
  height: 100%;
  overflow: hidden;
}

a, a:visited, a:focus {text-decoration: none !important; }
a:hover {text-decoration: underline !important; }

pre {
  margin-bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  tab-size: 2;
}
pre code {
  min-height: 100%;
  min-width: 100%;
}
pre code.hljs {
  overflow: visible !important;
}

img.chevron
{
  width: 0.7rem;
  height: 1rem;
}

.header {
  margin: 0;
  padding: 0;
}

.main-content
{
  flex-grow: 1;
  overflow: auto;
}

.breadcrumb-content {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  padding-top: 0.5rem;
}
@media (min-width: 768px) {
  .breadcrumb-content {
    font-size: 2rem;
  }
}

#filebrowser > td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
